.main_elem{
    position: absolute;
    text-decoration: underline;
}
.drop_element{
    width: 112px;
}
.drop_element:hover .dropdown{
	display: block;
}
.drop_element:hover .bar_element{
	background: #ff4364;
}
.dropdown{
	display: none;
	top: 58px;
	width: 112px;
	position: absolute;
	background-color: #ff4364;
	z-index: 1;
}
.dropdown a {
	padding: 16px;
	display: block;
	text-align: left;
	font-weight: 600;
	color: white;
	text-decoration: none;
	border-left: 5px solid #2d2727;
}
.dropdown a:hover {
	background: #ff7895;
}
.task{
    background: grey;
    padding: 10px;
    margin: 10px;
}
.btn-link{
  background: none!important;
  border: none;
  margin: auto;
  padding: 0!important;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}